<div class="box_inserir" style="display: none;">
    <div class="fechar_inserir"  ></div>
    <h2> Login </h2>
    <form (submit)='save()'>
    <input type="text" name="nome"  [(ngModel)]='usuario.nome'  placeholder="Nome do Curso">

    <!-- <select name="professor" [(ngModel)]='professores.professor' multiple>
        <option value="valor1"  >valor1</option>
        <option value="valor2"   >valor2</option>
        <option value="valor3"> valor3</option>
        <option value="valor4"> valor4</option>
    </select>
    <select name="salas"  [(ngModel)]='salas.salas' multiple>
        <option value="1"  >valor1</option>
        <option value="2"   >valor2</option>
        <option value="3">valor3</option>
        <option value="4">valor4</option>
    </select>-->
  <br clear="all">
    <input class="meio" type="text" [(ngModel)]='usuario.inicio' name="inicio" placeholder="Início">
    <input  class="meio" type="text" [(ngModel)]='usuario.fim' name="fim" placeholder="Fim">

       <button class="brn--acessar">ACESSAR</button>
      </form>

</div>
<div class="layer"></div>
<div class="layer layer-sobreposto" style="display: none;" ></div>
<div class="container">
    <div class=" logo-interno">
            <h1 class="logo--imagem">Área de Login da Celson Lisboa</h1>
    </div>
    <div class="titulo">
            <h2>Cursos</h2>

        </div>
    <div class="botao-criar">

            CRIAR
    </div>


        <div class="box">
                <div class="box--item" *ngFor="let curso of cursos">
                    <button class="fechar" (click)='delete(curso.id)'></button>
                    <h3 class="box--materia"> {{ curso.nome }}</h3>
                    <span class="box--professor"> <span *ngFor="let prof of curso.professores">{{prof.nome}} </span> </span>

                      <span class="box-endereco"> Sala <span *ngFor="let salas of curso.salas">{{salas.sala}} </span> </span>


                    <span class="box-horario">  {{curso.inicio}} às {{curso.fim}}</span>
                </div>

        </div>
</div>

